# 1: Reading into the data using CSV library:

In [49]:
import csv

class CardRemover:
    def __init__(self, filename):
        self.filename = filename
    
    def remove_expired_cards(self):
        card_removal = []
        with open(self.filename, 'r') as file:
            reader = csv.reader(file)
            next(reader)
            for i, row in enumerate(reader):
                date1 = row[6]
                date2 = row[7]
                month1, year1 = map(int, date1.split('/'))
                month2, year2 = map(int, date2.split('/'))
                year_diff = year2 - year1
                month_diff = month2 - month1
                if month_diff < 0:
                    year_diff -= 1
                    month_diff += 12
                total_months = month_diff + (year_diff * 12)  #Converting duration into months 
                if total_months > 120.082: #Total Months in 10 years are 120.082
                    card_removal.append(i)
        print(f"The row numbers with cards having expiry more than 10 years are {card_removal}")
        return card_removal

In [50]:
card_remover = CardRemover('acw_user_data.csv')  # create instance with CSV filename
removed_rows = card_remover.remove_expired_cards()  # remove expired cards and get row numbers

The row numbers with cards having expiry more than 10 years are [1, 6, 7, 15, 23, 30, 32, 34, 35, 40, 41, 51, 52, 53, 55, 56, 63, 68, 72, 75, 76, 81, 85, 86, 87, 91, 101, 106, 110, 113, 114, 117, 122, 133, 134, 136, 137, 142, 147, 155, 161, 164, 168, 178, 179, 182, 190, 193, 198, 201, 218, 220, 226, 229, 230, 235, 247, 251, 252, 260, 261, 263, 265, 271, 276, 281, 286, 287, 298, 305, 308, 310, 311, 313, 317, 318, 319, 321, 327, 328, 329, 330, 331, 344, 346, 347, 349, 351, 357, 362, 364, 370, 377, 389, 390, 391, 393, 396, 399, 403, 405, 408, 412, 413, 418, 421, 422, 424, 433, 434, 438, 446, 449, 452, 454, 464, 467, 468, 474, 476, 481, 485, 492, 497, 498, 500, 504, 505, 507, 511, 512, 514, 516, 520, 528, 530, 531, 540, 551, 552, 554, 564, 566, 573, 574, 586, 588, 594, 596, 599, 604, 606, 607, 611, 620, 622, 626, 627, 629, 630, 643, 647, 655, 658, 663, 664, 670, 673, 694, 697, 698, 709, 712, 715, 716, 719, 721, 737, 742, 749, 750, 752, 755, 756, 761, 767, 769, 776, 777, 778, 779, 780, 781, 782, 784, 786, 791, 792, 795, 800, 805, 808, 814, 815, 816, 824, 826, 829, 841, 842, 856, 857, 858, 860, 875, 876, 878, 879, 880, 895, 897, 898, 899, 900, 901, 905, 906, 909, 912, 913, 920, 921, 927, 931, 932, 933, 935, 936, 941, 949, 952, 963, 968, 978, 979, 984, 987, 988, 990, 994, 996, 997]

In [45]:
Card_Removal=[]
import csv
with open('acw_user_data.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)
    for i,row in enumerate(reader):
        date1=row[6]
        date2=row[7]
        print("index:"+str(i))
        print("date:")
        print(date1)
        print(date2)
        month1, year1 = map(int, date1.split('/'))
        month2, year2 = map(int, date2.split('/'))
        year_diff = year2 - year1
        month_diff= month2-month1
        print("diff:")
        print(year_diff)
        print(month_diff)
        if month_diff<0:
            year_diff -= 1
        if year_diff >=10:
            Card_Removal.append(i)
Card_Removal

index:0
date:
08/18
11/27
diff:
9
3
index:1
date:
08/12
11/26
diff:
14
3
index:2
date:
11/19
07/27
diff:
8
-4
index:3
date:
10/17
04/18
diff:
1
-6
index:4
date:
04/19
11/27
diff:
8
7
index:5
date:
03/15
05/15
diff:
0
2
index:6
date:
07/12
03/29
diff:
17
-4
index:7
date:
07/15
04/27
diff:
12
-3
index:8
date:
05/13
08/20
diff:
7
3
index:9
date:
10/13
10/13
diff:
0
0
index:10
date:
05/19
03/29
diff:
10
-2
index:11
date:
06/18
12/22
diff:
4
6
index:12
date:
03/19
02/23
diff:
4
-1
index:13
date:
04/17
12/20
diff:
3
8
index:14
date:
10/12
12/19
diff:
7
2
index:15
date:
06/14
04/29
diff:
15
-2
index:16
date:
07/14
02/17
diff:
3
-5
index:17
date:
03/14
06/23
diff:
9
3
index:18
date:
09/13
04/16
diff:
3
-5
index:19
date:
12/11
08/19
diff:
8
-4
index:20
date:
07/18
06/20
diff:
2
-1
index:21
date:
09/18
02/23
diff:
5
-7
index:22
date:
12/17
07/25
diff:
8
-5
index:23
date:
07/12
01/24
diff:
12
-6
index:24
date:
09/20
05/21
diff:
1
-4
index:25
date:
09/20
02/28
diff:
8
-7
index:26
date:
05/15
04/24
diff:
9
-1
index:27
date:
09/12
04/17
diff:
5
-5
index:28
date:
02/13
03/14
diff:
1
1
index:29
date:
05/18
01/27
diff:
9
-4
index:30
date:
07/12
03/24
diff:
12
-4
index:31
date:
08/12
04/17
diff:
5
-4
index:32
date:
01/18
07/28
diff:
10
6
index:33
date:
01/16
08/25
diff:
9
7
index:34
date:
02/12
03/24
diff:
12
1
index:35
date:
05/14
12/27
diff:
13
7
index:36
date:
07/13
08/13
diff:
0
1
index:37
date:
06/19
11/21
diff:
2
5
index:38
date:
10/19
07/21
diff:
2
-3
index:39
date:
05/19
08/23
diff:
4
3
index:40
date:
04/12
01/24
diff:
12
-3
index:41
date:
01/12
09/23
diff:
11
8
index:42
date:
12/13
11/14
diff:
1
-1
index:43
date:
06/16
01/17
diff:
1
-5
index:44
date:
09/18
02/26
diff:
8
-7
index:45
date:
04/20
02/26
diff:
6
-2
index:46
date:
06/12
09/17
diff:
5
3
index:47
date:
05/15
10/18
diff:
3
5
index:48
date:
06/12
07/17
diff:
5
1
index:49
date:
01/18
06/27
diff:
9
5
index:50
date:
04/19
10/25
diff:
6
6
index:51
date:
02/14
07/26
diff:
12
5
index:52
date:
03/14
08/24
diff:
10
5
index:53
date:
01/15
12/25
diff:
10
11
index:54
date:
11/12
07/22
diff:
10
-4
index:55
date:
09/13
05/26
diff:
13
-4
index:56
date:
03/18
05/29
diff:
11
2
index:57
date:
11/18
06/19
diff:
1
-5
index:58
date:
09/19
02/22
diff:
3
-7
index:59
date:
08/20
10/24
diff:
4
2
index:60
date:
09/19
04/24
diff:
5
-5
index:61
date:
03/19
04/22
diff:
3
1
index:62
date:
09/17
03/18
diff:
1
-6
index:63
date:
06/13
05/27
diff:
14
-1
index:64
date:
05/16
12/24
diff:
8
7
index:65
date:
05/13
06/20
diff:
7
1
index:66
date:
01/17
01/19
diff:
2
0
index:67
date:
05/19
09/22
diff:
3
4
index:68
date:
07/14
08/25
diff:
11
1
index:69
date:
03/12
04/15
diff:
3
1
index:70
date:
02/19
07/23
diff:
4
5
index:71
date:
07/16
08/25
diff:
9
1
index:72
date:
10/16
08/28
diff:
12
-2
index:73
date:
06/16
01/19
diff:
3
-5
index:74
date:
05/20
02/28
diff:
8
-3
index:75
date:
01/15
04/27
diff:
12
3
index:76
date:
12/15
02/29
diff:
14
-10
index:77
date:
06/16
06/21
diff:
5
0
index:78
date:
04/13
05/22
diff:
9
1
index:79
date:
10/17
07/20
diff:
3
-3
index:80
date:
01/14
05/18
diff:
4
4
index:81
date:
01/15
07/26
diff:
11
6
index:82
date:
04/20
09/26
diff:
6
5
index:83
date:
07/14
10/16
diff:
2
3
index:84
date:
08/20
04/27
diff:
7
-4
index:85
date:
11/11
08/28
diff:
17
-3
index:86
date:
04/16
10/29
diff:
13
6
index:87
date:
10/14
01/29
diff:
15
-9
index:88
date:
03/14
12/18
diff:
4
9
index:89
date:
07/13
08/14
diff:
1
1
index:90
date:
03/16
09/21
diff:
5
6
index:91
date:
02/12
09/28
diff:
16
7
index:92
date:
08/20
04/27
diff:
7
-4
index:93
date:
09/16
06/22
diff:
6
-3
index:94
date:
09/19
06/20
diff:
1
-3
index:95
date:
10/17
11/18
diff:
1
1
index:96
date:
12/14
05/22
diff:
8
-7
index:97
date:
07/19
06/27
diff:
8
-1
index:98
date:
12/17
04/21
diff:
4
-8
index:99
date:
11/16
08/19
diff:
3
-3
index:100
date:
08/13
03/15
diff:
2
-5
index:101
date:
06/16
06/28
diff:
12
0
index:102
date:
01/16
06/21
diff:
5
5
index:103
date:
09/18
02/24
diff:
6
-7
index:104
date:
06/13
09/21
diff:
8
3
index:105
date:
04/19
03/24
diff:
5
-1
index:106
date:
03/13
01/27
diff:
14
-2
index:107
date:
11/11
04/21
diff:
10
-7
index:108
date:
10/19
02/22
diff:
3
-8
index:109
date:
03/16
01/18
diff:
2
-2
index:110
date:
03/18
12/28
diff:
10
9
index:111
date:
12/14
03/24
diff:
10
-9
index:112
date:
09/18
05/27
diff:
9
-4
index:113
date:
11/12
07/27
diff:
15
-4
index:114
date:
01/14
03/27
diff:
13
2
index:115
date:
09/12
08/21
diff:
9
-1
index:116
date:
09/17
02/18
diff:
1
-7
index:117
date:
08/14
01/26
diff:
12
-7
index:118
date:
03/13
04/21
diff:
8
1
index:119
date:
10/15
05/25
diff:
10
-5
index:120
date:
10/13
12/18
diff:
5
2
index:121
date:
08/18
02/27
diff:
9
-6
index:122
date:
01/15
09/27
diff:
12
8
index:123
date:
12/15
07/17
diff:
2
-5
index:124
date:
06/20
10/21
diff:
1
4
index:125
date:
09/20
04/21
diff:
1
-5
index:126
date:
03/18
07/27
diff:
9
4
index:127
date:
06/17
09/19
diff:
2
3
index:128
date:
07/17
10/26
diff:
9
3
index:129
date:
06/20
05/21
diff:
1
-1
index:130
date:
05/13
05/18
diff:
5
0
index:131
date:
05/16
10/20
diff:
4
5
index:132
date:
01/16
03/21
diff:
5
2
index:133
date:
03/13
01/27
diff:
14
-2
index:134
date:
11/11
09/24
diff:
13
-2
index:135
date:
02/18
01/20
diff:
2
-1
index:136
date:
02/18
05/28
diff:
10
3
index:137
date:
07/14
09/29
diff:
15
2
index:138
date:
07/20
08/20
diff:
0
1
index:139
date:
02/18
01/21
diff:
3
-1
index:140
date:
08/17
08/24
diff:
7
0
index:141
date:
08/17
05/18
diff:
1
-3
index:142
date:
12/13
08/26
diff:
13
-4
index:143
date:
07/16
10/19
diff:
3
3
index:144
date:
01/20
08/29
diff:
9
7
index:145
date:
02/20
06/23
diff:
3
4
index:146
date:
08/12
11/14
diff:
2
3
index:147
date:
12/11
01/28
diff:
17
-11
index:148
date:
07/17
10/24
diff:
7
3
index:149
date:
05/18
05/20
diff:
2
0
index:150
date:
04/20
06/21
diff:
1
2
index:151
date:
02/18
08/26
diff:
8
6
index:152
date:
12/19
10/25
diff:
6
-2
index:153
date:
04/17
10/21
diff:
4
6
index:154
date:
11/11
03/13
diff:
2
-8
index:155
date:
12/11
03/25
diff:
14
-9
index:156
date:
05/15
01/24
diff:
9
-4
index:157
date:
11/14
01/19
diff:
5
-10
index:158
date:
12/19
06/26
diff:
7
-6
index:159
date:
05/17
01/20
diff:
3
-4
index:160
date:
09/12
10/13
diff:
1
1
index:161
date:
01/14
08/24
diff:
10
7
index:162
date:
06/19
12/24
diff:
5
6
index:163
date:
12/11
11/13
diff:
2
-1
index:164
date:
05/13
03/29
diff:
16
-2
index:165
date:
08/19
05/23
diff:
4
-3
index:166
date:
06/17
01/26
diff:
9
-5
index:167
date:
03/19
09/27
diff:
8
6
index:168
date:
05/16
02/29
diff:
13
-3
index:169
date:
04/20
08/22
diff:
2
4
index:170
date:
10/13
03/20
diff:
7
-7
index:171
date:
02/14
08/18
diff:
4
6
index:172
date:
10/17
07/23
diff:
6
-3
index:173
date:
10/18
02/21
diff:
3
-8
index:174
date:
07/20
07/28
diff:
8
0
index:175
date:
05/17
08/22
diff:
5
3
index:176
date:
01/18
04/19
diff:
1
3
index:177
date:
10/13
08/18
diff:
5
-2
index:178
date:
02/14
04/28
diff:
14
2
index:179
date:
12/14
01/29
diff:
15
-11
index:180
date:
10/16
02/18
diff:
2
-8
index:181
date:
11/16
12/21
diff:
5
1
index:182
date:
12/12
02/24
diff:
12
-10
index:183
date:
06/19
05/23
diff:
4
-1
index:184
date:
09/16
10/25
diff:
9
1
index:185
date:
06/15
05/20
diff:
5
-1
index:186
date:
11/18
08/28
diff:
10
-3
index:187
date:
10/19
06/24
diff:
5
-4
index:188
date:
11/17
07/24
diff:
7
-4
index:189
date:
10/18
03/28
diff:
10
-7
index:190
date:
08/12
03/24
diff:
12
-5
index:191
date:
01/15
05/15
diff:
0
4
index:192
date:
11/13
01/23
diff:
10
-10
index:193
date:
06/13
10/23
diff:
10
4
index:194
date:
10/15
02/21
diff:
6
-8
index:195
date:
03/14
09/20
diff:
6
6
index:196
date:
07/17
01/25
diff:
8
-6
index:197
date:
07/15
04/23
diff:
8
-3
index:198
date:
04/13
03/25
diff:
12
-1
index:199
date:
11/13
01/17
diff:
4
-10
index:200
date:
03/19
09/22
diff:
3
6
index:201
date:
08/17
09/29
diff:
12
1
index:202
date:
05/20
11/22
diff:
2
6
index:203
date:
07/14
10/16
diff:
2
3
index:204
date:
11/16
05/25
diff:
9
-6
index:205
date:
05/17
12/24
diff:
7
7
index:206
date:
07/20
05/22
diff:
2
-2
index:207
date:
12/15
05/24
diff:
9
-7
index:208
date:
06/19
06/23
diff:
4
0
index:209
date:
01/14
02/15
diff:
1
1
index:210
date:
03/12
10/14
diff:
2
7
index:211
date:
03/12
03/13
diff:
1
0
index:212
date:
03/19
05/25
diff:
6
2
index:213
date:
09/13
06/19
diff:
6
-3
index:214
date:
07/17
07/17
diff:
0
0
index:215
date:
09/16
04/23
diff:
7
-5
index:216
date:
11/15
12/24
diff:
9
1
index:217
date:
06/20
08/28
diff:
8
2
index:218
date:
04/15
10/25
diff:
10
6
index:219
date:
12/17
12/23
diff:
6
0
index:220
date:
12/14
09/28
diff:
14
-3
index:221
date:
10/19
06/23
diff:
4
-4
index:222
date:
07/16
06/23
diff:
7
-1
index:223
date:
05/18
07/18
diff:
0
2
index:224
date:
03/20
09/24
diff:
4
6
index:225
date:
05/20
12/24
diff:
4
7
index:226
date:
08/12
09/24
diff:
12
1
index:227
date:
05/15
05/23
diff:
8
0
index:228
date:
12/12
12/20
diff:
8
0
index:229
date:
08/18
08/29
diff:
11
0
index:230
date:
12/13
07/25
diff:
12
-5
index:231
date:
06/16
07/21
diff:
5
1
index:232
date:
11/11
09/17
diff:
6
-2
index:233
date:
01/14
09/21
diff:
7
8
index:234
date:
09/12
01/17
diff:
5
-8
index:235
date:
06/12
01/25
diff:
13
-5
index:236
date:
05/19
11/25
diff:
6
6
index:237
date:
07/14
06/21
diff:
7
-1
index:238
date:
07/18
04/27
diff:
9
-3
index:239
date:
07/20
08/29
diff:
9
1
index:240
date:
01/19
03/27
diff:
8
2
index:241
date:
04/14
08/21
diff:
7
4
index:242
date:
04/17
12/24
diff:
7
8
index:243
date:
02/17
11/21
diff:
4
9
index:244
date:
09/18
05/19
diff:
1
-4
index:245
date:
04/17
04/27
diff:
10
0
index:246
date:
05/15
12/17
diff:
2
7
index:247
date:
12/16
03/28
diff:
12
-9
index:248
date:
08/14
10/21
diff:
7
2
index:249
date:
04/19
10/28
diff:
9
6
index:250
date:
06/19
08/26
diff:
7
2
index:251
date:
05/12
03/27
diff:
15
-2
index:252
date:
04/13
07/27
diff:
14
3
index:253
date:
05/12
01/14
diff:
2
-4
index:254
date:
02/14
02/18
diff:
4
0
index:255
date:
11/13
12/17
diff:
4
1
index:256
date:
01/17
02/26
diff:
9
1
index:257
date:
10/14
11/15
diff:
1
1
index:258
date:
11/18
12/20
diff:
2
1
index:259
date:
08/17
04/25
diff:
8
-4
index:260
date:
07/13
12/23
diff:
10
5
index:261
date:
11/12
06/23
diff:
11
-5
index:262
date:
12/13
04/21
diff:
8
-8
index:263
date:
02/18
10/28
diff:
10
8
index:264
date:
01/14
04/21
diff:
7
3
index:265
date:
12/11
01/29
diff:
18
-11
index:266
date:
01/18
09/27
diff:
9
8
index:267
date:
09/20
12/24
diff:
4
3
index:268
date:
03/13
02/20
diff:
7
-1
index:269
date:
01/16
04/23
diff:
7
3
index:270
date:
06/17
09/20
diff:
3
3
index:271
date:
08/16
11/27
diff:
11
3
index:272
date:
06/17
12/22
diff:
5
6
index:273
date:
10/11
04/18
diff:
7
-6
index:274
date:
12/14
07/17
diff:
3
-5
index:275
date:
01/16
08/20
diff:
4
7
index:276
date:
07/14
09/28
diff:
14
2
index:277
date:
05/20
01/28
diff:
8
-4
index:278
date:
07/17
10/22
diff:
5
3
index:279
date:
03/15
08/18
diff:
3
5
index:280
date:
07/18
08/27
diff:
9
1
index:281
date:
05/18
05/30
diff:
12
0
index:282
date:
09/13
04/17
diff:
4
-5
index:283
date:
05/20
11/25
diff:
5
6
index:284
date:
05/15
05/15
diff:
0
0
index:285
date:
06/14
02/23
diff:
9
-4
index:286
date:
07/18
10/29
diff:
11
3
index:287
date:
06/17
06/28
diff:
11
0
index:288
date:
04/13
07/19
diff:
6
3
index:289
date:
02/19
01/26
diff:
7
-1
index:290
date:
03/19
10/22
diff:
3
7
index:291
date:
12/14
02/16
diff:
2
-10
index:292
date:
02/18
08/25
diff:
7
6
index:293
date:
09/19
05/24
diff:
5
-4
index:294
date:
05/19
06/22
diff:
3
1
index:295
date:
10/20
10/23
diff:
3
0
index:296
date:
01/17
12/24
diff:
7
11
index:297
date:
08/20
06/22
diff:
2
-2
index:298
date:
09/13
12/25
diff:
12
3
index:299
date:
02/12
06/14
diff:
2
4
index:300
date:
10/18
10/19
diff:
1
0
index:301
date:
06/19
03/21
diff:
2
-3
index:302
date:
08/20
10/22
diff:
2
2
index:303
date:
07/20
05/24
diff:
4
-2
index:304
date:
11/11
04/16
diff:
5
-7
index:305
date:
02/15
04/28
diff:
13
2
index:306
date:
10/16
11/23
diff:
7
1
index:307
date:
07/12
07/16
diff:
4
0
index:308
date:
10/12
07/25
diff:
13
-3
index:309
date:
05/14
03/17
diff:
3
-2
index:310
date:
12/12
11/28
diff:
16
-1
index:311
date:
11/11
08/24
diff:
13
-3
index:312
date:
07/20
04/28
diff:
8
-3
index:313
date:
08/12
02/28
diff:
16
-6
index:314
date:
04/17
09/23
diff:
6
5
index:315
date:
02/16
05/17
diff:
1
3
index:316
date:
07/19
07/28
diff:
9
0
index:317
date:
10/17
07/28
diff:
11
-3
index:318
date:
11/15
05/28
diff:
13
-6
index:319
date:
05/16
12/28
diff:
12
7
index:320
date:
01/16
03/22
diff:
6
2
index:321
date:
05/18
08/29
diff:
11
3
index:322
date:
09/19
12/27
diff:
8
3
index:323
date:
02/18
05/18
diff:
0
3
index:324
date:
08/19
04/24
diff:
5
-4
index:325
date:
11/19
02/27
diff:
8
-9
index:326
date:
03/14
01/24
diff:
10
-2
index:327
date:
01/17
12/28
diff:
11
11
index:328
date:
08/15
03/29
diff:
14
-5
index:329
date:
08/14
12/24
diff:
10
4
index:330
date:
09/12
11/23
diff:
11
2
index:331
date:
05/15
05/28
diff:
13
0
index:332
date:
09/16
10/20
diff:
4
1
index:333
date:
02/16
11/24
diff:
8
9
index:334
date:
04/18
11/18
diff:
0
7
index:335
date:
08/19
04/25
diff:
6
-4
index:336
date:
02/18
11/23
diff:
5
9
index:337
date:
12/15
07/16
diff:
1
-5
index:338
date:
03/17
05/18
diff:
1
2
index:339
date:
01/14
10/23
diff:
9
9
index:340
date:
07/17
04/24
diff:
7
-3
index:341
date:
11/12
10/16
diff:
4
-1
index:342
date:
08/17
04/19
diff:
2
-4
index:343
date:
05/20
11/25
diff:
5
6
index:344
date:
11/12
12/28
diff:
16
1
index:345
date:
09/20
03/29
diff:
9
-6
index:346
date:
02/19
09/29
diff:
10
7
index:347
date:
07/15
10/25
diff:
10
3
index:348
date:
01/13
06/19
diff:
6
5
index:349
date:
06/15
03/26
diff:
11
-3
index:350
date:
12/18
04/27
diff:
9
-8
index:351
date:
12/13
05/27
diff:
14
-7
index:352
date:
01/14
03/14
diff:
0
2
index:353
date:
12/18
10/28
diff:
10
-2
index:354
date:
05/12
06/18
diff:
6
1
index:355
date:
07/15
04/21
diff:
6
-3
index:356
date:
01/20
05/25
diff:
5
4
index:357
date:
05/14
08/24
diff:
10
3
index:358
date:
03/12
06/19
diff:
7
3
index:359
date:
08/19
05/26
diff:
7
-3
index:360
date:
04/17
07/20
diff:
3
3
index:361
date:
01/18
03/18
diff:
0
2
index:362
date:
01/14
01/27
diff:
13
0
index:363
date:
01/14
07/20
diff:
6
6
index:364
date:
03/13
12/26
diff:
13
9
index:365
date:
10/13
10/13
diff:
0
0
index:366
date:
09/16
08/26
diff:
10
-1
index:367
date:
12/12
01/14
diff:
2
-11
index:368
date:
11/13
01/21
diff:
8
-10
index:369
date:
04/13
10/20
diff:
7
6
index:370
date:
07/18
12/29
diff:
11
5
index:371
date:
11/18
06/27
diff:
9
-5
index:372
date:
04/16
05/24
diff:
8
1
index:373
date:
07/13
04/18
diff:
5
-3
index:374
date:
08/18
04/22
diff:
4
-4
index:375
date:
05/17
05/20
diff:
3
0
index:376
date:
09/20
10/29
diff:
9
1
index:377
date:
09/17
08/30
diff:
13
-1
index:378
date:
05/12
04/15
diff:
3
-1
index:379
date:
04/20
03/21
diff:
1
-1
index:380
date:
08/19
04/26
diff:
7
-4
index:381
date:
06/20
06/22
diff:
2
0
index:382
date:
04/19
08/24
diff:
5
4
index:383
date:
05/19
12/27
diff:
8
7
index:384
date:
06/13
11/19
diff:
6
5
index:385
date:
05/17
06/21
diff:
4
1
index:386
date:
11/17
07/23
diff:
6
-4
index:387
date:
07/14
05/18
diff:
4
-2
index:388
date:
10/15
02/22
diff:
7
-8
index:389
date:
10/13
06/25
diff:
12
-4
index:390
date:
11/11
10/22
diff:
11
-1
index:391
date:
01/16
04/29
diff:
13
3
index:392
date:
10/15
05/22
diff:
7
-5
index:393
date:
12/14
07/28
diff:
14
-5
index:394
date:
11/14
11/23
diff:
9
0
index:395
date:
10/14
01/24
diff:
10
-9
index:396
date:
08/12
09/29
diff:
17
1
index:397
date:
08/13
02/20
diff:
7
-6
index:398
date:
01/20
02/22
diff:
2
1
index:399
date:
04/12
11/26
diff:
14
7
index:400
date:
06/19
07/25
diff:
6
1
index:401
date:
05/20
07/25
diff:
5
2
index:402
date:
08/18
03/23
diff:
5
-5
index:403
date:
12/13
12/29
diff:
16
0
index:404
date:
08/12
10/20
diff:
8
2
index:405
date:
04/17
12/27
diff:
10
8
index:406
date:
04/16
06/18
diff:
2
2
index:407
date:
04/14
10/14
diff:
0
6
index:408
date:
08/15
03/29
diff:
14
-5
index:409
date:
07/14
06/24
diff:
10
-1
index:410
date:
08/15
09/24
diff:
9
1
index:411
date:
10/19
01/20
diff:
1
-9
index:412
date:
11/15
09/28
diff:
13
-2
index:413
date:
10/14
01/28
diff:
14
-9
index:414
date:
04/12
02/16
diff:
4
-2
index:415
date:
08/17
07/27
diff:
10
-1
index:416
date:
04/15
11/23
diff:
8
7
index:417
date:
05/16
01/18
diff:
2
-4
index:418
date:
12/14
05/27
diff:
13
-7
index:419
date:
02/18
02/25
diff:
7
0
index:420
date:
09/18
02/25
diff:
7
-7
index:421
date:
02/15
08/25
diff:
10
6
index:422
date:
08/14
07/27
diff:
13
-1
index:423
date:
09/16
03/25
diff:
9
-6
index:424
date:
09/13
10/25
diff:
12
1
index:425
date:
06/17
11/26
diff:
9
5
index:426
date:
10/15
10/18
diff:
3
0
index:427
date:
11/19
12/26
diff:
7
1
index:428
date:
06/16
07/16
diff:
0
1
index:429
date:
09/16
11/23
diff:
7
2
index:430
date:
03/19
10/20
diff:
1
7
index:431
date:
08/17
05/21
diff:
4
-3
index:432
date:
09/16
02/21
diff:
5
-7
index:433
date:
11/13
06/24
diff:
11
-5
index:434
date:
03/13
07/24
diff:
11
4
index:435
date:
12/13
12/23
diff:
10
0
index:436
date:
03/19
05/28
diff:
9
2
index:437
date:
05/13
09/19
diff:
6
4
index:438
date:
03/13
05/26
diff:
13
2
index:439
date:
07/17
07/25
diff:
8
0
index:440
date:
03/20
07/20
diff:
0
4
index:441
date:
01/13
01/21
diff:
8
0
index:442
date:
08/15
09/24
diff:
9
1
index:443
date:
05/16
09/16
diff:
0
4
index:444
date:
04/20
10/20
diff:
0
6
index:445
date:
06/13
03/21
diff:
8
-3
index:446
date:
03/16
09/28
diff:
12
6
index:447
date:
08/18
07/27
diff:
9
-1
index:448
date:
04/15
05/18
diff:
3
1
index:449
date:
03/12
11/26
diff:
14
8
index:450
date:
08/17
01/20
diff:
3
-7
index:451
date:
06/17
04/21
diff:
4
-2
index:452
date:
03/13
11/24
diff:
11
8
index:453
date:
04/17
10/17
diff:
0
6
index:454
date:
03/13
03/24
diff:
11
0
index:455
date:
05/19
10/26
diff:
7
5
index:456
date:
02/14
01/15
diff:
1
-1
index:457
date:
12/12
05/13
diff:
1
-7
index:458
date:
08/18
12/20
diff:
2
4
index:459
date:
05/19
12/24
diff:
5
7
index:460
date:
03/20
05/23
diff:
3
2
index:461
date:
09/19
05/28
diff:
9
-4
index:462
date:
09/17
10/20
diff:
3
1
index:463
date:
07/19
03/24
diff:
5
-4
index:464
date:
09/16
05/27
diff:
11
-4
index:465
date:
05/15
12/15
diff:
0
7
index:466
date:
09/19
11/25
diff:
6
2
index:467
date:
06/16
08/26
diff:
10
2
index:468
date:
07/17
05/28
diff:
11
-2
index:469
date:
10/18
10/19
diff:
1
0
index:470
date:
04/14
04/20
diff:
6
0
index:471
date:
09/20
07/25
diff:
5
-2
index:472
date:
01/14
09/14
diff:
0
8
index:473
date:
05/17
04/25
diff:
8
-1
index:474
date:
09/14
06/26
diff:
12
-3
index:475
date:
06/13
11/18
diff:
5
5
index:476
date:
01/12
04/28
diff:
16
3
index:477
date:
12/14
11/16
diff:
2
-1
index:478
date:
06/20
07/28
diff:
8
1
index:479
date:
12/16
12/25
diff:
9
0
index:480
date:
07/12
07/14
diff:
2
0
index:481
date:
04/13
05/25
diff:
12
1
index:482
date:
09/18
12/20
diff:
2
3
index:483
date:
03/14
01/17
diff:
3
-2
index:484
date:
01/20
07/28
diff:
8
6
index:485
date:
08/17
09/27
diff:
10
1
index:486
date:
01/18
09/26
diff:
8
8
index:487
date:
11/13
04/22
diff:
9
-7
index:488
date:
12/17
10/21
diff:
4
-2
index:489
date:
11/16
02/25
diff:
9
-9
index:490
date:
12/14
03/21
diff:
7
-9
index:491
date:
07/15
08/23
diff:
8
1
index:492
date:
03/12
03/23
diff:
11
0
index:493
date:
01/15
02/23
diff:
8
1
index:494
date:
08/19
06/20
diff:
1
-2
index:495
date:
11/11
01/14
diff:
3
-10
index:496
date:
04/18
10/22
diff:
4
6
index:497
date:
10/12
03/26
diff:
14
-7
index:498
date:
06/14
10/27
diff:
13
4
index:499
date:
04/16
01/25
diff:
9
-3
index:500
date:
05/12
01/27
diff:
15
-4
index:501
date:
02/19
10/28
diff:
9
8
index:502
date:
08/15
05/16
diff:
1
-3
index:503
date:
05/19
03/29
diff:
10
-2
index:504
date:
10/16
10/31
diff:
15
0
index:505
date:
06/17
09/29
diff:
12
3
index:506
date:
01/19
08/27
diff:
8
7
index:507
date:
11/17
02/28
diff:
11
-9
index:508
date:
05/16
08/16
diff:
0
3
index:509
date:
03/14
03/22
diff:
8
0
index:510
date:
08/13
12/19
diff:
6
4
index:511
date:
11/12
05/28
diff:
16
-6
index:512
date:
08/17
02/29
diff:
12
-6
index:513
date:
06/18
04/19
diff:
1
-2
index:514
date:
10/13
04/25
diff:
12
-6
index:515
date:
07/20
03/22
diff:
2
-4
index:516
date:
01/16
03/27
diff:
11
2
index:517
date:
09/19
07/24
diff:
5
-2
index:518
date:
12/18
03/28

[1,
 6,
 7,
 15,
 23,
 30,
 32,
 34,
 35,
 40,
 41,
 51,
 52,
 53,
 55,
 56,
 63,
 68,
 72,
 75,
 76,
 81,
 85,
 86,
 87,
 91,
 101,
 106,
 110,
 113,
 114,
 117,
 122,
 133,
 134,
 136,
 137,
 142,
 147,
 155,
 161,
 164,
 168,
 178,
 179,
 182,
 190,
 193,
 198,
 201,
 218,
 220,
 226,
 229,
 230,
 235,
 245,
 247,
 251,
 252,
 260,
 261,
 263,
 265,
 271,
 276,
 281,
 286,
 287,
 298,
 305,
 308,
 310,
 311,
 313,
 317,
 318,
 319,
 321,
 327,
 328,
 329,
 330,
 331,
 344,
 346,
 347,
 349,
 351,
 357,
 362,
 364,
 370,
 377,
 389,
 390,
 391,
 393,
 396,
 399,
 403,
 405,
 408,
 412,
 413,
 418,
 421,
 422,
 424,
 433,
 434,
 435,
 438,
 446,
 449,
 452,
 454,
 464,
 467,
 468,
 474,
 476,
 481,
 485,
 492,
 497,
 498,
 500,
 504,
 505,
 507,
 511,
 512,
 514,
 516,
 520,
 528,
 530,
 531,
 540,
 551,
 552,
 554,
 564,
 566,
 573,
 574,
 586,
 588,
 594,
 596,
 599,
 604,
 606,
 607,
 611,
 620,
 622,
 626,
 627,
 629,
 630,
 643,
 647,
 655,
 658,
 663,
 664,
 670,
 673,
 694,
 697,
 698,
 709,
 712,
 715,
 716,
 719,
 721,
 737,
 742,
 749,
 750,
 752,
 755,
 756,
 761,
 767,
 769,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 784,
 786,
 791,
 792,
 795,
 800,
 805,
 807,
 808,
 814,
 815,
 816,
 824,
 826,
 829,
 841,
 842,
 856,
 857,
 858,
 860,
 874,
 875,
 876,
 878,
 879,
 880,
 895,
 897,
 898,
 899,
 900,
 901,
 905,
 906,
 909,
 912,
 913,
 920,
 921,
 927,
 931,
 932,
 933,
 935,
 936,
 941,
 949,
 952,
 963,
 968,
 978,
 979,
 984,
 987,
 988,
 990,
 994,
 996,
 997]

In [48]:
Card_Removal=[]
import csv
with open('acw_user_data.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)
    for i,row in enumerate(reader):
        date1=row[6]
        date2=row[7]
        month1, year1 = map(int, date1.split('/'))
        month2, year2 = map(int, date2.split('/'))
        year_diff = year2 - year1
        month_diff= month2-month1
        if month_diff<0:
            year_diff -= 1
            month_diff+=12
        Total_Months=month_diff+(year_diff*12)   
        if Total_Months > 120.082:
            Card_Removal.append(i-1)
Card_Removal

[0,
 5,
 6,
 14,
 22,
 29,
 31,
 33,
 34,
 39,
 40,
 50,
 51,
 52,
 54,
 55,
 62,
 67,
 71,
 74,
 75,
 80,
 84,
 85,
 86,
 90,
 100,
 105,
 109,
 112,
 113,
 116,
 121,
 132,
 133,
 135,
 136,
 141,
 146,
 154,
 160,
 163,
 167,
 177,
 178,
 181,
 189,
 192,
 197,
 200,
 217,
 219,
 225,
 228,
 229,
 234,
 246,
 250,
 251,
 259,
 260,
 262,
 264,
 270,
 275,
 280,
 285,
 286,
 297,
 304,
 307,
 309,
 310,
 312,
 316,
 317,
 318,
 320,
 326,
 327,
 328,
 329,
 330,
 343,
 345,
 346,
 348,
 350,
 356,
 361,
 363,
 369,
 376,
 388,
 389,
 390,
 392,
 395,
 398,
 402,
 404,
 407,
 411,
 412,
 417,
 420,
 421,
 423,
 432,
 433,
 437,
 445,
 448,
 451,
 453,
 463,
 466,
 467,
 473,
 475,
 480,
 484,
 491,
 496,
 497,
 499,
 503,
 504,
 506,
 510,
 511,
 513,
 515,
 519,
 527,
 529,
 530,
 539,
 550,
 551,
 553,
 563,
 565,
 572,
 573,
 585,
 587,
 593,
 595,
 598,
 603,
 605,
 606,
 610,
 619,
 621,
 625,
 626,
 628,
 629,
 642,
 646,
 654,
 657,
 662,
 663,
 669,
 672,
 693,
 696,
 697,
 708,
 711,
 714,
 715,
 718,
 720,
 736,
 741,
 748,
 749,
 751,
 754,
 755,
 760,
 766,
 768,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 783,
 785,
 790,
 791,
 794,
 799,
 804,
 807,
 813,
 814,
 815,
 823,
 825,
 828,
 840,
 841,
 855,
 856,
 857,
 859,
 874,
 875,
 877,
 878,
 879,
 894,
 896,
 897,
 898,
 899,
 900,
 904,
 905,
 908,
 911,
 912,
 919,
 920,
 926,
 930,
 931,
 932,
 934,
 935,
 940,
 948,
 951,
 962,
 967,
 977,
 978,
 983,
 986,
 987,
 989,
 993,
 995,
 996]

In [38]:
Card_Removal=[]
import csv
with open('acw_user_data.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)
    for i,row in enumerate(reader):
        date1=row[6]
        date2=row[7]
        month1, year1 = map(int, date1.split('/'))
        month2, year2 = map(int, date2.split('/'))
        year_diff = year2 - year1
        month_diff = month2 - month1
        if month_diff < 0:
            year_diff -= 1
            month_diff += 12
        total_months = month_diff + year_diff * 12
        year_frac = total_months / 12
        if year_frac>10:
            Card_Removal.append(i)

In [37]:
Card_Removal=[]
import csv
with open('acw_user_data.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)
    for i,row in enumerate(reader):
        date1=row[6].split('/')
        date1years=int(date1[1])
        date2months=int(date2[0])
        date2=row[7].split('/')
        date2years=int(date2[1])
        date2years=int(date2[0])
        year_difference=date2years-date1years
        if date1month>
        if date_difference>3650.0:
            Card_Removal.append(i)
Card_Removal

SyntaxError: invalid syntax (3994663234.py, line 14)

In [2]:
import csv
with open('acw_user_data.csv', mode='r') as user_data:
    Data = csv.reader( user_data, delimiter=',' )
    for i,line in enumerate(Data):
        if i==0:
            print(line)

['Address Street', 'Address City', 'Address Postcode', 'Age (Years)', 'Distance Commuted to Work (miles)', 'Employer Company', 'Credit Card Start Date', 'Credit Card Expiry Date', 'Credit Card Number', 'Credit Card CVV', 'Dependants', 'First Name', 'Bank IBAN', 'Last Name', 'Marital Status', 'Yearly Pension (GBP)', 'Retired', 'Yearly Salary (GBP)', 'Sex', 'Vehicle Make', 'Vehicle Model', 'Vehicle Year', 'Vehicle Type']

In [19]:
import csv
Address_Info=[]
Age=[]
Distance_to_work=[]
Employer_company=[]
Credit_card=[]
Dependants=[]
First_name=[]
Last_name=[]
Martial_status=[]
Yealy_pension=[]
Retired=[]
Yealy_salary=[]
Sex=[]
Vehicle_Info=[]
Missing_Rows=[]

with open('acw_user_data.csv', mode='r') as user_data:
    Data = csv.reader( user_data, delimiter=',' )
    for i,line in enumerate(Data):
        if i==0:
            continue
        Address_Info.append((line[0],line[1],line[2])) 
        Age.append(int(line[3]))
        Distance_to_work.append(float(line[4]))
        Employer_company.append((line[5]))
        Credit_card.append(("Start Date: ",line[6]," Expiry Date: ",line[7]," Card Number: ",int(line[8])," CVV: ",int(line[9])," Bank IBAN: ",line[12]))                       
        if line[10]=="":         #Where Value of Dependent column is null replacing it by zero.
            Missing_Rows.append(i)
            Dependants.append(0)
        else:
            Dependants.append(int(line[10]))
        First_name.append(line[11])
        Last_name.append(line[13])
        Martial_status.append(line[14])
        Yealy_pension.append(int(line[15]))
        Retired.append(line[16])
        Yealy_salary.append(int(line[17]))
        Sex.append(line[18])
        Vehicle_Info.append((line[19],line[20],line[21],line[22]))
print(f"Rows where value of dependents is missing are: {Missing_Rows}")

Rows where value of dependents is missing are: [22, 110, 180, 206, 271, 273, 275, 359, 461, 469, 580, 637, 680, 726, 823, 866, 918, 932, 984]

In [16]:
All_Data=[]
for i in range(len(Vehicle_Info)):
    All_Data['Address Information']= Address_Info[i]
    All_Data['Age']=Age[i]
    All_Data['Distance_to_work']=Distance_to_work[i]
    All_Data['Employer_company']=Employer_company[i]
    All_Data['Credit_card']=Credit_card[i]
    All_Data['Dependants']=Dependants[i]
    All_Data['First_name']=First_name[i]
    All_Data['Last_name']=Last_name[i]
    All_Data['Martial_status']=Martial_status[i]
    All_Data['Yealy_pension']=Yealy_pension[i]
    All_Data['Retired']=Retired[i]
    All_Data['Yealy_salary']=Yealy_salary[i]
    All_Data['Sex']=Sex[i]
    All_Data['Vehicle Information']= Vehicle_Info[i]

All_Data[0]

TypeError: list indices must be integers or slices, not str

In [ ]:
zero_pension=[]
for i in range(len(Age)):
    if (All_Data[i]['Yealy_pension'] == 0):
        zero_pension.append(All_Data[i])
zero_pension

In [228]:
missing_value=[]
with open('acw_user_data.csv', mode='r') as user_data:
    Data = csv.reader( user_data, delimiter=',' )
    for i,line in enumerate(Data):
        if i==0:
            continue
        if line[17] == 68049:
            missing_value.append(i)
missing_value

[]

In [43]:
Missing_Rows=[]
with open('acw_user_data.csv', mode='r') as user_data:
    Data = csv.reader( user_data, delimiter=',' )
    for i,line in enumerate(Data):
        if line[10]=="":
            Missing_Rows.append(i)

In [47]:
print(Missing_Rows)

[22, 110, 180, 206, 271, 273, 275, 359, 461, 469, 580, 637, 680, 726, 823, 866, 918, 932, 984]

In [62]:
import json
with open('processed.json', mode='w') as Data:
    json.dump( All_Data, Data )

In [126]:
Retired=[]
Employed=[]
i=0
for i in range (len(All_Data)):
        if All_Data[i]["Retired"]=="TRUE":
            Retired.append(All_Data[i])
        else:
            Employed.append(All_Data[i])
            
Retired

[{'Address Information': ('70 Lydia isle', 'Lake Conor', 'S71 7XZ'),
  'Age': 89,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Aug-18',
   ' Expiry Date: ',
   'Nov-27',
   ' Card Number: ',
   676373692463,
   ' CVV: ',
   875,
   ' Bank IBAN: ',
   'GB62PQKB71416034141571'),
  'Dependants': 3,
  'First_name': 'Kieran',
  'Last_name': 'Wilson',
  'Martial_status': 'married or civil partner',
  'Yealy_pension': 7257,
  'Retired': 'TRUE',
  'Yealy_salary': 72838,
  'Sex': 'Male',
  'Vehicle Information': ('Hyundai', 'Bonneville', '2009', 'Pickup')},
 {'Address Information': ('81 Goodwin dam', 'Griffinstad', 'G3 7ZX'),
  'Age': 67,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Jul-15',
   ' Expiry Date: ',
   'Apr-27',
   ' Card Number: ',
   213199489183130,
   ' CVV: ',
   389,
   ' Bank IBAN: ',
   'GB04VSAZ69128049616822'),
  'Dependants': 1,
  'First_name': 'Clive',
  'Last_name': 'Evans',
  'Martial_status': 'single',
  'Yealy_pension': 28075,
  'Retired': 'TRUE',
  'Yealy_salary': 27964,
  'Sex': 'Male',
  'Vehicle Information': ('Volvo', 'Express 3500 Passenger', '2013', 'SUV')},
 {'Address Information': ('Studio 77c Gail tunnel', 'Garyberg', 'S7W 4DW'),
  'Age': 87,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Oct-13',
   ' Expiry Date: ',
   'Oct-13',
   ' Card Number: ',
   213198388220332,
   ' CVV: ',
   766,
   ' Bank IBAN: ',
   'GB74TXVQ82130006568515'),
  'Dependants': 2,
  'First_name': 'Malcolm',
  'Last_name': 'Hamilton',
  'Martial_status': 'single',
  'Yealy_pension': 29587,
  'Retired': 'TRUE',
  'Yealy_salary': 66157,
  'Sex': 'Male',
  'Vehicle Information': ('Dodge', 'Impreza', '2015', 'Sedan')},
 {'Address Information': ('8 Bray row', 'Daviestown', 'S2H 5RE'),
  'Age': 78,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   '10-Dec',
   ' Expiry Date: ',
   'Dec-19',
   ' Card Number: ',
   4548406264381240,
   ' CVV: ',
   22,
   ' Bank IBAN: ',
   'GB76WOAN35375600936407'),
  'Dependants': 4,
  'First_name': 'Jade',
  'Last_name': 'John',
  'Martial_status': 'married or civil partner',
  'Yealy_pension': 24712,
  'Retired': 'TRUE',
  'Yealy_salary': 59891,
  'Sex': 'Female',
  'Vehicle Information': ('Nissan', 'LC', '2012', 'SUV')},
 {'Address Information': ('Flat 47 Godfrey road', 'West Brianfurt', 'S6G 3HB'),
  'Age': 82,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Jan-18',
   ' Expiry Date: ',
   'Jul-28',
   ' Card Number: ',
   5543467566659730,
   ' CVV: ',
   465,
   ' Bank IBAN: ',
   'GB42TNFG09550061109890'),
  'Dependants': 5,
  'First_name': 'Helen',
  'Last_name': 'Kaur',
  'Martial_status': 'single',
  'Yealy_pension': 28731,
  'Retired': 'TRUE',
  'Yealy_salary': 80297,
  'Sex': 'Female',
  'Vehicle Information': ('Acura', 'G', '1998', 'SUV')},
 {'Address Information': ('Flat 32 Sharp prairie', 'Marcusstad', 'AB57 0ZN'),
  'Age': 83,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   '02-Dec',
   ' Expiry Date: ',
   'Mar-24',
   ' Card Number: ',
   2426144247746700,
   ' CVV: ',
   453,
   ' Bank IBAN: ',
   'GB76KUNW91632428208056'),
  'Dependants': 2,
  'First_name': 'Adam',
  'Last_name': 'Wright',
  'Martial_status': 'married or civil partner',
  'Yealy_pension': 30115,
  'Retired': 'TRUE',
  'Yealy_salary': 70109,
  'Sex': 'Male',
  'Vehicle Information': ('GMC', 'Frontier Crew Cab', '1998', 'Van/Minivan')},
 {'Address Information': ('8 Michael cliff', 'Joanchester', 'B8E 0XR'),
  'Age': 65,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'May-14',
   ' Expiry Date: ',
   'Dec-27',
   ' Card Number: ',
   30253997599666,
   ' CVV: ',
   479,
   ' Bank IBAN: ',
   'GB77BKAA88748168755170'),
  'Dependants': 2,
  'First_name': 'Danielle',
  'Last_name': 'Robertson',
  'Martial_status': 'married or civil partner',
  'Yealy_pension': 8022,
  'Retired': 'TRUE',
  'Yealy_salary': 57953,
  'Sex': 'Female',
  'Vehicle Information': ('Jaguar', 'Odyssey', '1997', 'Hatchback')},
 {'Address Information': ('7 Williams forks', 'Cookside', 'N6 2YZ'),
  'Age': 91,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Jun-19',
   ' Expiry Date: ',
   'Nov-21',
   ' Card Number: ',
   4232054778076,
   ' CVV: ',
   752,
   ' Bank IBAN: ',
   'GB75HZCQ22453289425740'),
  'Dependants': 2,
  'First_name': 'Vanessa',
  'Last_name': 'Kay',
  'Martial_status': 'single',
  'Yealy_pension': 30866,
  'Retired': 'TRUE',
  'Yealy_salary': 81220,
  'Sex': 'Female',
  'Vehicle Information': ('Chevrolet', 'Viper', '2015', 'Pickup')},
 {'Address Information': ('1 Holt knoll', 'Ianview', 'L93 2QY'),
  'Age': 84,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   '06-Dec',
   ' Expiry Date: ',
   'Sep-17',
   ' Card Number: ',
   2278690061462560,
   ' CVV: ',
   243,
   ' Bank IBAN: ',
   'GB28KWDH09406690563679'),
  'Dependants': 1,
  'First_name': 'Sheila',
  'Last_name': 'Woodward',
  'Martial_status': 'single',
  'Yealy_pension': 24080,
  'Retired': 'TRUE',
  'Yealy_salary': 59223,
  'Sex': 'Female',
  'Vehicle Information': ('Audi', 'Celica', '2016', 'Van/Minivan')},
 {'Address Information': ('9 Randall center', 'Donaldmouth', 'S5 3GT'),
  'Age': 72,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Mar-14',
   ' Expiry Date: ',
   'Aug-24',
   ' Card Number: ',
   377179551619635,
   ' CVV: ',
   434,
   ' Bank IBAN: ',
   'GB54ZXCM95740026097623'),
  'Dependants': 1,
  'First_name': 'Geoffrey',
  'Last_name': 'Ward',
  'Martial_status': 'single',
  'Yealy_pension': 21838,
  'Retired': 'TRUE',
  'Yealy_salary': 97406,
  'Sex': 'Male',
  'Vehicle Information': ('Lincoln',
   'Silverado 3500 HD Regular Cab',
   '2015',
   'Van/Minivan')},
 {'Address Information': ('57 Edward burg', 'Shanefurt', 'FK4B 4HU'),
  'Age': 86,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Jan-15',
   ' Expiry Date: ',
   'Dec-25',
   ' Card Number: ',
   379156423792855,
   ' CVV: ',
   150,
   ' Bank IBAN: ',
   'GB45RNEO63895090850522'),
  'Dependants': 3,
  'First_name': 'Adam',
  'Last_name': 'Walsh',
  'Martial_status': 'married or civil partner',
  'Yealy_pension': 10651,
  'Retired': 'TRUE',
  'Yealy_salary': 26452,
  'Sex': 'Male',
  'Vehicle Information': ('Subaru', 'Commander', '1995', 'Sedan, Hatchback')},
 {'Address Information': ('Studio 7 Hill inlet', 'Barnesfurt', 'M5 6LA'),
  'Age': 88,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Nov-18',
   ' Expiry Date: ',
   'Jun-19',
   ' Card Number: ',
   3567560652090240,
   ' CVV: ',
   734,
   ' Bank IBAN: ',
   'GB68DNZL38729225311976'),
  'Dependants': 2,
  'First_name': 'Jeremy',
  'Last_name': 'Richardson',
  'Martial_status': 'single',
  'Yealy_pension': 36202,
  'Retired': 'TRUE',
  'Yealy_salary': 92899,
  'Sex': 'Male',
  'Vehicle Information': ('Ford', 'ES', '1998', 'Pickup')},
 {'Address Information': ('Studio 05p Gardner fords',
   'North Bradley',
   'BB25 7EP'),
  'Age': 75,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Sep-19',
   ' Expiry Date: ',
   'Feb-22',
   ' Card Number: ',
   348303225893469,
   ' CVV: ',
   915,
   ' Bank IBAN: ',
   'GB35RZFZ68276656752362'),
  'Dependants': 2,
  'First_name': 'Declan',
  'Last_name': 'Smith',
  'Martial_status': 'married or civil partner',
  'Yealy_pension': 19073,
  'Retired': 'TRUE',
  'Yealy_salary': 59872,
  'Sex': 'Male',
  'Vehicle Information': ('Cadillac', 'Rodeo', '2013', 'Pickup')},
 {'Address Information': ('Studio 2 Carpenter prairie',
   'West Joyce',
   'N9 4NW'),
  'Age': 72,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Mar-19',
   ' Expiry Date: ',
   'Apr-22',
   ' Card Number: ',
   4697766251032990,
   ' CVV: ',
   673,
   ' Bank IBAN: ',
   'GB40VSFG91266868613507'),
  'Dependants': 2,
  'First_name': 'Abbie',
  'Last_name': 'Gill',
  'Martial_status': 'single',
  'Yealy_pension': 8418,
  'Retired': 'TRUE',
  'Yealy_salary': 62907,
  'Sex': 'Female',
  'Vehicle Information': ('Cadillac', 'Escape', '1996', 'Sedan, Hatchback')},
 {'Address Information': ('8 King roads', 'Helenmouth', 'M3 5FE'),
  'Age': 87,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Jul-14',
   ' Expiry Date: ',
   'Aug-25',
   ' Card Number: ',
   3534803293002840,
   ' CVV: ',
   889,
   ' Bank IBAN: ',
   'GB32HKXY65019270186072'),
  'Dependants': 1,
  'First_name': 'Tracey',
  'Last_name': 'Knight',
  'Martial_status': 'single',
  'Yealy_pension': 19833,
  'Retired': 'TRUE',
  'Yealy_salary': 90989,
  'Sex': 'Female',
  'Vehicle Information': ('Mitsubishi', 'Wrangler', '2005', 'Van/Minivan')},
 {'Address Information': ('Flat 05 Sally lock', 'Port Paul', 'DA92 4YE'),
  'Age': 90,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'May-20',
   ' Expiry Date: ',
   'Feb-28',
   ' Card Number: ',
   3537707829547530,
   ' CVV: ',
   991,
   ' Bank IBAN: ',
   'GB74IEMW86147848359945'),
  'Dependants': 2,
  'First_name': 'Peter',
  'Last_name': 'Fox',
  'Martial_status': 'single',
  'Yealy_pension': 22344,
  'Retired': 'TRUE',
  'Yealy_salary': 66210,
  'Sex': 'Male',
  'Vehicle Information': ('Mercedes-Benz', 'HHR', '2009', 'SUV')},
 {'Address Information': ('197 Hughes light', 'Simpsonview', 'E5 1EY'),
  'Age': 84,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Jun-16',
   ' Expiry Date: ',
   'Jun-21',
   ' Card Number: ',
   30237831295557,
   ' CVV: ',
   64,
   ' Bank IBAN: ',
   'GB77WZQH05366315429846'),
  'Dependants': 3,
  'First_name': 'Shane',
  'Last_name': 'Martin',
  'Martial_status': 'married or civil partner',
  'Yealy_pension': 16699,
  'Retired': 'TRUE',
  'Yealy_salary': 77566,
  'Sex': 'Male',
  'Vehicle Information': ('Ford', 'Grand Prix', '2017', 'SUV')},
 {'Address Information': ('Studio 35 Davison bridge',
   'Morganhaven',
   'N06 0GR'),
  'Age': 78,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Oct-17',
   ' Expiry Date: ',
   'Jul-20',
   ' Card Number: ',
   4512266462746,
   ' CVV: ',
   9263,
   ' Bank IBAN: ',
   'GB50DJLM41916388959252'),
  'Dependants': 2,
  'First_name': 'Ashley',
  'Last_name': 'Atkins',
  'Martial_status': 'single',
  'Yealy_pension': 29483,
  'Retired': 'TRUE',
  'Yealy_salary': 33081,
  'Sex': 'Male',
  'Vehicle Information': ('GMC', 'Metris WORKER Passenger', '1996', 'Sedan')},
 {'Address Information': ('451 Fry forges', 'New Yvonnefurt', 'B56 9JR'),
  'Age': 77,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Jul-14',
   ' Expiry Date: ',
   'Oct-16',
   ' Card Number: ',
   4211383297836250000,
   ' CVV: ',
   665,
   ' Bank IBAN: ',
   'GB52NDLB99095695780485'),
  'Dependants': 2,
  'First_name': 'Owen',
  'Last_name': 'Clarke',
  'Martial_status': 'single',
  'Yealy_pension': 25180,
  'Retired': 'TRUE',
  'Yealy_salary': 93472,
  'Sex': 'Male',
  'Vehicle Information': ('Ford', 'Escalade', '2017', 'Sedan')},
 {'Address Information': ('Studio 9 Morgan wells', 'Lake Hazel', 'W1W 4PF'),
  'Age': 90,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   '02-Dec',
   ' Expiry Date: ',
   'Sep-28',
   ' Card Number: ',
   502000021605,
   ' CVV: ',
   592,
   ' Bank IBAN: ',
   'GB05YRVL77089575786362'),
  'Dependants': 1,
  'First_name': 'Lucy',
  'Last_name': 'Bradley',
  'Martial_status': 'married or civil partner',
  'Yealy_pension': 6992,
  'Retired': 'TRUE',
  'Yealy_salary': 34869,
  'Sex': 'Female',
  'Vehicle Information': ('Saturn', 'Discovery', '1998', 'SUV')},
 {'Address Information': ('20 Martyn ferry', 'Jonestown', 'CT40 0HS'),
  'Age': 74,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Sep-19',
   ' Expiry Date: ',
   'Jun-20',
   ' Card Number: ',
   3557061895917310,
   ' CVV: ',
   107,
   ' Bank IBAN: ',
   'GB15NUJZ64936781419815'),
  'Dependants': 2,
  'First_name': 'Georgia',
  'Last_name': 'McKenzie',
  'Martial_status': 'divorced',
  'Yealy_pension': 16945,
  'Retired': 'TRUE',
  'Yealy_salary': 19405,
  'Sex': 'Female',
  'Vehicle Information': ('Lexus', 'Beetle', '2011', 'SUV')},
 {'Address Information': ('Flat 72Z Clark estates', 'West Garry', 'KW9 6QU'),
  'Age': 79,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Nov-16',
   ' Expiry Date: ',
   'Aug-19',
   ' Card Number: ',
   3522456870688430,
   ' CVV: ',
   333,
   ' Bank IBAN: ',
   'GB04OPMS12664739515711'),
  'Dependants': 2,
  'First_name': 'Joel',
  'Last_name': 'Williams',
  'Martial_status': 'divorced',
  'Yealy_pension': 18184,
  'Retired': 'TRUE',
  'Yealy_salary': 27904,
  'Sex': 'Male',
  'Vehicle Information': ('Chevrolet',
   'F350 Super Duty Regular Cab',
   '2005',
   'Coupe, Sedan, Convertible')},
 {'Address Information': ('Studio 45c Burton way',
   'North Ronaldland',
   'BS0R 3AL'),
  'Age': 75,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Aug-13',
   ' Expiry Date: ',
   'Mar-15',
   ' Card Number: ',
   5593122633970230,
   ' CVV: ',
   231,
   ' Bank IBAN: ',
   'GB76ZNJT93939806204998'),
  'Dependants': 1,
  'First_name': 'Ashleigh',
  'Last_name': 'Ryan',
  'Martial_status': 'married or civil partner',
  'Yealy_pension': 38315,
  'Retired': 'TRUE',
  'Yealy_salary': 54451,
  'Sex': 'Female',
  'Vehicle Information': ('BMW', 'GLS', '2015', 'Van/Minivan')},
 {'Address Information': ('2 Lewis estates', 'Lake Iain', 'M4T 7PB'),
  'Age': 90,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Jun-16',
   ' Expiry Date: ',
   'Jun-28',
   ' Card Number: ',
   347862672326191,
   ' CVV: ',
   282,
   ' Bank IBAN: ',
   'GB33NHPT55918111814942'),
  'Dependants': 1,
  'First_name': 'Michael',
  'Last_name': 'Akhtar',
  'Martial_status': 'married or civil partner',
  'Yealy_pension': 24818,
  'Retired': 'TRUE',
  'Yealy_salary': 40184,
  'Sex': 'Male',
  'Vehicle Information': ('Ford', 'SVX', '2011', 'Pickup')},
 {'Address Information': ('Studio 07 Harvey branch',
   'North Lauraside',
   'M4 9JG'),
  'Age': 80,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Apr-19',
   ' Expiry Date: ',
   'Mar-24',
   ' Card Number: ',
   4440800518490480,
   ' CVV: ',
   873,
   ' Bank IBAN: ',
   'GB68OGXV47976181686007'),
  'Dependants': 2,
  'First_name': 'Francesca',
  'Last_name': 'Barnes',
  'Martial_status': 'married or civil partner',
  'Yealy_pension': 20080,
  'Retired': 'TRUE',
  'Yealy_salary': 77914,
  'Sex': 'Female',
  'Vehicle Information': ('Toyota',
   'Grand Cherokee',
   '2017',
   'Hatchback, Sedan')},
 {'Address Information': ('Flat 82 Ruth haven', 'West Hughville', 'W6 1AJ'),
  'Age': 68,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Mar-18',
   ' Expiry Date: ',
   'Dec-28',
   ' Card Number: ',
   4764391803957320,
   ' CVV: ',
   2415,
   ' Bank IBAN: ',
   'GB39TASS76050202879400'),
  'Dependants': 2,
  'First_name': 'Kathryn',
  'Last_name': 'Ashton',
  'Martial_status': 'married or civil partner',
  'Yealy_pension': 18806,
  'Retired': 'TRUE',
  'Yealy_salary': 25565,
  'Sex': 'Female',
  'Vehicle Information': ('Ford', '911', '2003', 'Wagon')},
 {'Address Information': ('18 King isle', 'East Caroline', 'SE25 0EH'),
  'Age': 86,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Sep-18',
   ' Expiry Date: ',
   'May-27',
   ' Card Number: ',
   4207382704743340,
   ' CVV: ',
   533,
   ' Bank IBAN: ',
   'GB04PRCL86743699392708'),
  'Dependants': 1,
  'First_name': 'Keith',
  'Last_name': 'Williamson',
  'Martial_status': 'married or civil partner',
  'Yealy_pension': 17419,
  'Retired': 'TRUE',
  'Yealy_salary': 97308,
  'Sex': 'Male',
  'Vehicle Information': ('Nissan', 'X-Type', '2013', 'Pickup')},
 {'Address Information': ('3 Gilbert freeway', 'South Victoria', 'CV1 3SB'),
  'Age': 89,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Dec-15',
   ' Expiry Date: ',
   'Jul-17',
   ' Card Number: ',
   4048082643661450,
   ' CVV: ',
   669,
   ' Bank IBAN: ',
   'GB75ZJUX75000413809933'),
  'Dependants': 2,
  'First_name': 'Julie',
  'Last_name': 'Gray',
  'Martial_status': 'married or civil partner',
  'Yealy_pension': 5258,
  'Retired': 'TRUE',
  'Yealy_salary': 87281,
  'Sex': 'Female',
  'Vehicle Information': ('Volkswagen',
   'Sierra (Classic) 1500 Crew Cab',
   '2001',
   'Hatchback, Convertible')},
 {'Address Information': ('Flat 28 Johnson square', 'Waltersstad', 'GU06 9NJ'),
  'Age': 77,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Sep-20',
   ' Expiry Date: ',
   'Apr-21',
   ' Card Number: ',
   30596457821537,
   ' CVV: ',
   972,
   ' Bank IBAN: ',
   'GB65WQAM06002206517572'),
  'Dependants': 2,
  'First_name': 'Abdul',
  'Last_name': 'Smith',
  'Martial_status': 'single',
  'Yealy_pension': 26096,
  'Retired': 'TRUE',
  'Yealy_salary': 25474,
  'Sex': 'Male',
  'Vehicle Information': ('Dodge', 'Camaro', '2001', 'SUV')},
 {'Address Information': ('Flat 2 Cheryl tunnel',
   'North Cherylstad',
   'SO2R 7JD'),
  'Age': 77,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Mar-13',
   ' Expiry Date: ',
   'Jan-27',
   ' Card Number: ',
   3595058245421210,
   ' CVV: ',
   383,
   ' Bank IBAN: ',
   'GB44RYBA89420601702356'),
  'Dependants': 3,
  'First_name': 'Jamie',
  'Last_name': 'Williams',
  'Martial_status': 'married or civil partner',
  'Yealy_pension': 34750,
  'Retired': 'TRUE',
  'Yealy_salary': 18127,
  'Sex': 'Male',
  'Vehicle Information': ('Pontiac', 'Avalon', '2016', 'Convertible')},
 {'Address Information': ('Studio 0 Dale shoal', 'Anthonytown', 'E4T 5WT'),
  'Age': 89,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   '11-Nov',
   ' Expiry Date: ',
   'Sep-24',
   ' Card Number: ',
   4364052046050600,
   ' CVV: ',
   553,
   ' Bank IBAN: ',
   'GB44ZNBI02161896110580'),
  'Dependants': 2,
  'First_name': 'Emma',
  'Last_name': 'Newton',
  'Martial_status': 'married or civil partner',
  'Yealy_pension': 28188,
  'Retired': 'TRUE',
  'Yealy_salary': 26495,
  'Sex': 'Female',
  'Vehicle Information': ('Mercedes-Benz',
   'Montero Sport',
   '1994',
   'Coupe, Convertible')},
 {'Address Information': ('232 Nathan cape', 'Jenniferborough', 'N0 7PJ'),
  'Age': 89,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Feb-20',
   ' Expiry Date: ',
   'Jun-23',
   ' Card Number: ',
   4750454766083640000,
   ' CVV: ',
   272,
   ' Bank IBAN: ',
   'GB63ZBVH58450370260784'),
  'Dependants': 3,
  'First_name': 'Fiona',
  'Last_name': 'Slater',
  'Martial_status': 'married or civil partner',
  'Yealy_pension': 16798,
  'Retired': 'TRUE',
  'Yealy_salary': 75219,
  'Sex': 'Female',
  'Vehicle Information': ('MINI', 'Ram Wagon 3500', '2009', 'Pickup')},
 {'Address Information': ('4 Griffiths lane', 'Robinhaven', 'W2K 7FU'),
  'Age': 81,
  'Distance_to_work': 0.0,
  'Employer_company': 'N/A',
  'Credit_card': ('Start Date: ',
   'Jul-17',
   ' Expiry Date: ',
   'Oct-24',
   ' Card Number: ',
   4397223915154,
   ' CVV: ',
   127,
   ' Bank IBAN: ',
   'GB23KSDI18325875892927'),
  'Dependants': 3,
  'First_name': 'Beverley',
  'Last_name': 'Clements',
  'Martial_status': 'single',

In [127]:
import json
with open('Retired.json', mode='w') as Data:
    json.dump( Retired, Data )

In [128]:
with open('Employed.json', mode='w') as Data:
    json.dump( Employed, Data )

In [20]:
#Checking the Headers
with open('12.csv', mode='r') as user_data:
    All_Data = csv.reader( user_data, delimiter=',' )
    for i,line in enumerate(All_Data):
        if i==1:
            print(line)

['70 Lydia isle', 'Lake Conor', 'S71 7XZ', '89', '0', 'N/A', '08/18', '11/27', '676373692463', '875', '3', 'Kieran', 'GB62PQKB71416034141571', 'Wilson', 'married or civil partner', '7257', 'True', '72838', 'Male', 'Hyundai', 'Bonneville', '2009', 'Pickup']